* {
    border: none;
    border-radius: 100px;
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 12px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: #282A36;
    color: #f4d9e1
}

#workspaces {
	background: #333545;
	margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
	border-radius: 20px;
  border: solid 0px #f4d9e1;
  font-weight: normal;
  font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    color: #288a44;
}

#workspaces button.active {
    background-color: transparent;
}

#workspaces button:hover {
	background-color: #E6B9C6;
	color: black;
	border-radius: 8px;
}

#custom-launcher, #workspaces button.active, #custom-spotify, #battery, #network{
    border-radius: 20px;
    color: #4DF47B;
}

#custom-date, #pulseaudio, #network{
	background: transparent;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
  border-radius: 8px;
  border: solid 0px #f4d9e1;
}

#custom-date {
	color: #D3869B;
}

#custom-power {
	color: #db4b4b;
	background-color: #333545;
	border-radius: 20px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 1px;
    font-size: 20px;
}

#tray {
    background: #333545;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    padding: 0px 5px;
    /*border-right: solid 1px #282738;*/
}

#clock {
    color: white;
    background-color: #333545;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}

#custom-weather {
    background-color: transparent;
    /*color: #FABD2D;*/
    border-radius: 8px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    /*border-right: solid 1px #282738;*/
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}

#network,
#custom-spotify {
    color: #DD76D0;
    border-radius: 8px;
    margin: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#pulseaudio {
    color: #3378C8;
    border-radius: 8px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 0px;
    font-weight: bold;
}
    

#pulseaudio.muted {
    /*color: #FABD2D;*/
    border-radius: 8px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

#custom-randwall {
    color: #f4d9e1;
    border-radius: 8px;
    margin-right: 0px;
}

#custom-launcher {
    background-color: #333545;
    margin: 5px;
    margin-left: 10px;
    padding: 0 10px 0 10px;
    /*border-right: solid 1px #282738;*/
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 25px;
}

#custom-playerctl {
	background: #333545;
    color: #4FFD7D;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 20px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 8px;
    color: white;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#window {
    background: #333545;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#custom-wf-recorder {
    padding: 0 20px;
    color: #e5809e;
    background-color: #1E1E2E;
}

#cpu{
    color: #EDF78A;
}

#memory{
    color: #8EE7F4;
}

#backlight{
    color: #FF7AC9;
}

#cpu,
#backlight {
    /*color: #FABD2D;*/
    border-radius: 8px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#battery {
    background-color: #333545;
    color: #FCFD82;
    margin: 5px;
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    /*color: #83A598;*/
    border-radius: 8px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#disk {
    color: #FF79C6;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-hyprpicker {
    background-color: #333545;
    /*color: #8EC07C;*/
    border-radius: 8px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
}
